body {
  background-color: #f7f7f7;
}
.App{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-height: 100vh;
  width: 100%;
}

.button button{
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0275d8;
  border:none;
  font-size: 20px;
  color: #f7f7f7;
  transition: all 0.4s ease;
}

.button button:hover{
  color: #0275d8;
  background-color: #f7f7f7;
  border : 1px solid #0275d8;

}

.data{
  width: 80%;
  margin : 5% 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



@media screen and (max-width: 1000px) {
  .data{
    flex-direction: column;
    align-items: center;
  }
}